.project-tracking-nested tr.current {
  background-color: #a0df7d;
}

.project-tracking-nested tr.forecast {
  background-color: #ff7875;
}

.project-tracking-nested tr:first-child {
  background-color: #ffc792;
}

.project-tracking-nested {
  margin: 10px 2px;
}
