.project-tracking-nested tr.current {
  background-color: #a0df7d;
}

.project-tracking-nested tr.forecast {
}

.project-tracking-nested tr:first-child {
  background-color: #bbbbbb;
}

.project-tracking-nested {
  margin: 10px 2px;
}
