.fy-modal{
    width: 100vw !important;
    padding-bottom: 0px !important;
    top: 0px !important;
    max-width: calc(100vw - 4px) !important;
} 
.fy-modal .ant-modal-body{
    overflow-y: scroll !important;
    position: relative !important;
    height: calc(100vh - 110px) !important;
}
.fy-modal .ant-modal-content {
    height: 100vh !important
}