.ant-table-container table > thead > tr th {
    font-weight: 600; 
    font-size: medium;
}
.ant-table-summary {
    background-color: #fafafa;
}
.ant-table-summary
    .ant-table-cell.ant-table-cell-fix-left{
        background-color: #fafafa;
    }

.fs-small div.ant-table.ant-table-small{
    font-size: small;
}
.fs-small div.ant-table-container table > thead > tr th{
    font-weight: 600 !important; 
    font-size: small !important;
}

.fs-v-small div.ant-table.ant-table-small{
    font-size: 12px;
}
.fs-v-small div.ant-table-container table > thead > tr th{
    font-weight: 600 !important; 
    font-size: 12px !important;
}


.full-width{
    width: 100% !important;
}

.scroll-table div.ant-table-content{
    overflow-x: hidden !important;
    scrollbar-width: thin;
    scrollbar-color: #d8d2d2 transparent;
}
.scroll-table div.ant-table-content:hover{
    overflow-x: scroll !important;
}

/* .ant-table-wrapper.TimeSheetTable {
    height: 75vh;
} */

/* .ant-table-wrapper.TimeSheetTable
    table
    tbody.ant-table-tbody
    tr.ant-table-row.ant-table-row-level-0
    td.ant-table-cell
     {
    padding: 0;
} */

div.timeSheet-table{
    max-height: 70vh;
}

div.timeSheet-table div.ant-table-content {
    overflow-x: hidden !important;
    scrollbar-width: thin;
    scrollbar-color: #d8d2d2 transparent;
}

div.timeSheet-table div.ant-table-content:hover {
    overflow-x: scroll !important;     
}

div.timeSheet-table div.ant-table-content::-webkit-scrollbar-track-piece {
    margin-left: 300px;
}

/* div.timeSheet-table .ant-table-summary { // using table summary tag now as I have updated the packeg
    display: table-header-group;
} */


div.timeSheet-table div.ant-table-has-fix-left  tr.submitClass td.ant-table-cell-fix-left{
    background: #f0f0f0 ;
}
div.timeSheet-table div.ant-table-has-fix-left  tr.rejectClass td.ant-table-cell-fix-left{
    background-color:  #ffdaf9;
}
div.timeSheet-table div.ant-table-has-fix-left  tr.approveClass td.ant-table-cell-fix-left{
    background: #caffe4 ;
}

div.timeSheet-table .ant-table-tbody > tr.submitClass.ant-table-row > td {
    background: #f0f0f0 ;
}
div.timeSheet-table .ant-table-tbody > tr.rejectClass.ant-table-row > td {
    background-color:  #ffdaf9; 
}
div.timeSheet-table .ant-table-tbody > tr.rejectClass.ant-table-row > td {
    background-color:  #ffdaf9; 
}
div.timeSheet-table .ant-table-tbody > tr.approveClass.ant-table-row > td {
    background: #caffe4 ;
}

/* div.timeSheet-table .ant-table-tbody > tr.submitClass.ant-table-row-selected.ant-table-row > td {
    background: #f0f0f0 ;
}
div.timeSheet-table .ant-table-tbody > tr.rejectClass.ant-table-row-selected.ant-table-row > td {
    background-color:  #ffdaf9; 
}
div.timeSheet-table .ant-table-tbody > tr.rejectClass.ant-table-row-selected.ant-table-row > td {
    background-color:  #ffdaf9; 
}
div.timeSheet-table .ant-table-tbody > tr.approveClass.ant-table-row-selected.ant-table-row > td {
    background: #caffe4 ;
} */

.submitClass{   
    background: #f0f0f0 !important;
}
.rejectClass{
    background: #ffdaf9 !important;
}
.approveClass{
    background: #caffe4 !important;
}
.prevDates-TMcell {
    background: #e7e7e7b7 !important;
}

.filter-EmptyCell {
    background: #e7e7e7b7 !important
}


/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    scrollbar-width: thin;
  scrollbar-color: #d8d2d2 transparent;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
    background-color: #d8d2d2;
    border-radius: 10px;
}
